* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: #F5F9FB;
    font-family: 'Cairo', sans-serif;
}

/* star header  */

.logo {
    /*  image logo header*/
    width: 180px;
    height: 4rem;
}

.nav {
    text-align: right;
    line-height: 41px;
}

.menu {
    margin: 0 30px 0 0;
}

label {
    display: none;
}

#toggle {
    display: none;
}

#navbar {
    /* section list navbar and  logo image */
    position: fixed;
    background-color: #F5F9FB;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

ul {
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
}

ul li {
    padding: 10px;
}

ul li a {
    cursor: pointer;
    font-size: 25px;
    color: #0071AC;
    text-decoration: none;
    padding: 8px 20px;
}

ul li a:hover {
    color: #56CCF2;
    background-color: #0071AC;
}

label {
    margin: 20PX 40px 0 0;
    font-size: 40px;
}

/* the and header */

/* star hero.section */

#hero .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* text hero */

#hero h1 {
    position: relative;
    width: fit-content;
    color: #0071AC;
    margin-bottom: 40px;
    font-size: 1.7rem;
}

/*  parent span animation text and time */

#hero h1 span {
    position: absolute;
    height: 5vh;
    width: 100%;
    border-radius: 10px;
    background-color: #D3F1FA;
    animation: text_box 2s ease infinite;
}

/* animation span  */

@keyframes text_box {
    100% {
        width: 100%;
    }
    50% {
        width: 50%;
        left: 100%;
    }
}

/* botton portfoloi */

#hero .botton {
    cursor: pointer;
    border: 1px solid #0071AC;
    background-color: #D3F1FA;
    text-decoration: none;
    color: black;
    padding: 15px 50px;
    font-size: 1.5rem;
    cursor: pointer;
}

#hero .botton:hover {
    color: #56CCF2;
    background-color: #0071AC;
}

/* the and hero.section */

/* star design section  */

.container {
    background-color: #E2F5FF;
    width: 100%;
    height: 100vh;
    margin: auto;
}

#design-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.design-top h1 {
    color: #0071AC;
    text-align: center;
    font-size: 8rem;
    animation: text_box 8s ease infinite;
}

.design-top p {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    font-size: 2rem;
}

.design-item h2 {
    text-align: center;
    color: #0071AC;
}

.design-bottom {
    margin-top: 2rem;
    display: flex;
}

.firstLine {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.design-item {
    background-color: #c1edfc;
    padding: 1rem;
    width: 46%;
}

.design-item p {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.fas {
    cursor: pointer;
    font-size: 40px;
    color: #0071AC;
    padding-right: 10px;
}

.fas:hover {
    font-size: 50px;
    color: #002d46;
}

/* the and designe section */

/* star project section */

#project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-titel {
    text-align: center;
    color: #0071AC;
    font-size: 8rem;
}

.project-buttem {
    width: 90%;
    height: 60vh;
    display: flex;
    margin: 0 auto;
}

.cardone h1 {
    height: 7vh;
    text-align: center;
    color: #0071AC;
    background-color: #c1edfc;
    font-size: xx-large;
    margin-bottom: 5px;
    animation: text_box 8s ease infinite;
}

.cardone p {
    margin-bottom: 10PX;
    height: 22vh;
    background-color: #c1edfc;
    font-size: x-large;
    text-align: center;
}

.project-img img {
    width: 100%;
    height: 30vh;
}

/* star about me */

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image {
    height: 80vh;
    margin-top: 8rem;
    margin-left: 5rem;
}

.about-card {
    display: flex;
}

.para {
    text-align: center;
    font-size: 3rem;
    margin-top: 7rem;
}

.para h1 {
    height: 5vh;
    font-size: 4rem;
    margin-bottom: 3rem;
    color: #0071AC;
    animation: text_box 8s ease infinite;
}
.para p {
    margin-top: 19rem;
    font-size: 2rem;
   
}

/* the and section about me */

/* star the contact me */

#form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-titel {
    text-align: center;
    color: #0071AC;
    font-size: 8rem;
    animation: text_box 8s ease infinite;
}

#form .forme {
    margin-top: 10PX;
    width: 90%;
    padding: 22px 20px;
    margin-left: 5rem;
}

.forme-message {
    margin-top: 10PX;
    width: 90%;
    padding: 40px 20px;
    margin-left: 5rem;
}

.forme-botten {
    width: 20%;
    margin-top: 1rem;
    padding: 22px;
    cursor: pointer;
    margin-left: 5rem;
}

.forme-botten:hover {
    background-color: #89c1df;
}

#footer {
    width: 92%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: 5rem;
}

ol {
    display: flex;
}

ol li {
    padding: 10px;
    list-style: none;
    font-size: 43px;
}

ol li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.fa {
    cursor: pointer;
    font-size: 40px;
    color: #0071AC;
    padding-right: 25px;
}

.fa:hover {
    font-size: 50px;
    color: #002d46;
}

/* star the media qy */

/* design tabl */

@media only screen and (max-width: 768px) {
    .design-bottom {
        flex-direction: column;
    }
    .firstLine {
        margin-bottom: 1rem;
    }
    .design-top h1 {
        font-size: 3rem;
    }
    .design-top p {
        width: 80%;
        font-size: 1.5rem;
    }
}

/* media project tabl */

@media only screen and (max-width: 768px) {
    .project-titel {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    ul li a {
        font-size: 17px;
    }
    ul li {
        padding-right: 0px;
    }
}

/* media about me tabl */

@media only screen and (max-width: 768px) {
    .image {
        margin-left: 2rem;
        width: 344px;
        height: 80vh;
        margin-top: 1rem;
    }
    .para h1 {
        font-size: 3rem;
    }
    .para p {
        FONT-SIZE: 1REM;
    }
}

/* design mobail */

@media only screen and (max-width: 375px) {
    .design-top h1 {
        font-size: 1rem;
    }
    .design-top p {
        width: 75%;
        font-size: 10px;
    }
    .design-item h2 {
        text-align: center;
        margin-top: -1rem;
        font-size: 10px;
    }
    .design-item p {
        font-size: 10px;
        margin-top: 0rem;
        text-align: center;
    }
    .firstLine {
        flex-direction: column;
        margin-bottom: 1px;
    }
    .design-item {
        margin-bottom: 5px;
        width: 80%;
        margin-left: 2.4rem;
        height: 18vh;
    }
    .fas {
        cursor: pointer;
        font-size: 20px;
        color: #0071AC;
        padding-right: 10px;
    }
    .fas:hover {
        font-size: 50px;
        color: #002d46;
    }
}

/* media project mobail */

@media only screen and (max-width: 375px) {
    #project {
        display: flex;
        justify-content: unset;
    }
    .project-titel {
        font-size: 1rem;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .cardone p {
        background-color: #c1edfc;
        text-align: center;
        font-size: 10px;
        height: 16vh;
    }
    .cardone h1 {
        font-size: 10px;
        height: 3vh;
    }
    .project-buttem {
        flex-direction: column;
        width: 80%;
    }
    .project-img img {
        width: 100%;
        height: 20vh;
    }
}

/* media about me mobail */

@media only screen and (max-width: 375px) {
    .about-card {
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .image {
        width: 265px;
        height: 50vh;
        margin-left: 3rem;
    }
    .para h1 {
        font-size: 1rem;
        margin-bottom: 0rem;
        animation: text_box 8s ease infinite;
           
        }
    
     #about .para p {
        width: 80%;
        margin-top: 1rem;
        font-size: 10px;
        margin: 0 auto;

    }
}   

@media only screen and (max-width: 768px) {
    ol li {
        padding: 4px;
    }
}

/* media form or contact tabl */

@media only screen and (max-width: 768px) {
    .form-titel {
        font-size: 3rem;
    }
    #footer {
        width: 82%;
        margin-top: 1rem;
    }
    .forme-message {
        width: 81%;
    }
    #form .forme {
        margin-top: 10PX;
        width: 81%;
        padding: 22px 20px;
        margin-left: 5rem;
    }
    ol li a {
        font-size: 15px;
    }
    ol li {
        list-style: none;
        font-size: 40px;
    }
    .fa {
        font-size: 32px;
        padding-right: 15px;
    }
}

/* media form or contact mobial */

@media only screen and (max-width: 375px) {
    .form {
        flex-direction: column;
    }
    .form-titel {
        font-size: 1rem;
    }
    #form .forme {
        margin-top: 10px;
        width: 90%;
        padding: 22px 20px;
        margin-left: 1rem;
    }
    .forme-message {
        padding: 40px 40px;
        margin-top: 10PX;
        width: 90%;
        margin-left: 1rem;
    }
    .forme-botten {
        width: 30%;
        margin-left: 17px;
        margin-top: 1rem;
        padding: 9px;
        cursor: pointer;
    }
    ol li {
        font-size: 31px;
    }
    ol li a {
        font-size: 7px;
    }
    .icones p {
        font-size: 10px;
    }
    .fa {
        font-size: 18px;
        padding-right: 6px;
    }
    #footer {
        width: 82%;
        display: flex;
        justify-content: space-between;
        margin-left: 2rem;
    }
}

/* media navbar header mobail */

@media only screen and (max-width: 375px) {
    .logo {
        width: 60px;
        height: 2rem;
    }
    label {
        display: block;
        margin: -5PX 5px 0 0;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        border: 2px solid cornflowerblue;
        display: block;
    }
    #toggle:checked+.menu {
        display: block;
    }
    ul {
        display: flex;
        flex-direction: column;
    }
    ul li {
        padding: 1px;
    }
    ul li a {
        font-size: 10px;
    }
    #hero h1 span {
        display: none;
    }
    #navbar {
        HEIGHT: 5VH;
        display: flex;
        justify-content: space-between;
    }
}