* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: #F5F9FB;
    font-family: 'Cairo', sans-serif;
}

/* star header  */

.logo {
    /*  image logo header*/
    width: 180px;
    height: 4rem;
}

.nav {
    text-align: right;
    line-height: 41px;
}

.menu {
    margin: 0 30px 0 0;
}

label {
    display: none;
}

#toggle {
    display: none;
}

#navbar {
    /* section list navbar and  logo image */
    background-color: #F5F9FB;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

ul {
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
}

ul li {
    padding: 10px;
}

ul li a {
    cursor: pointer;
    font-size: 25px;
    color: #56CCF2;
    text-decoration: none;
    padding: 8px 20px;
}

ul li a:hover {
    background-color: #0071AC;
}

label {
    margin: 20PX 40px 0 0;
    font-size: 40px;
}

/* the and header */

/* star hero.section */

#hero .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#hero {
    /* image hero */
    width: 100%;
    height: 100vh;
    background-image: url(/img/img1.png);
    background-position: top center;
    background-size: cover;
}

#hero h1 {
    /* text hero */
    position: relative;
    width: fit-content;
    color: #56CCF2;
    margin-bottom: 40px;
    font-size: 1.7rem;
}

#hero h1 span {
    /*  parent span animation text and time */
    position: absolute;
    height: 6vh;
    width: 100%;
    border-radius: 10px;
    background-color: #D3F1FA;
    animation: text_box 10s ease infinite;
    animation-delay: 1s;
}

/* animation time for span text  */

#hero h1:nth-child(1) span {
    animation-delay: 1s;
}

#hero h1:nth-child(2) span {
    animation-delay: 2s;
}

#hero h1:nth-child(3) span {
    animation-delay: 3s;
}

/* animation span  */

@keyframes text_box {
    100% {
        width: 100%;
        left: 0;
    }
    50% {
        width: 0;
        left: 100%;
    }
}

#hero .botton {
    /* botton portfoloi */
    cursor: pointer;
    border: 1px solid #0071AC;
    background-color: #D3F1FA;
    text-decoration: none;
    color: black;
    padding: 4px 50px;
    font-size: 1.5rem;
    cursor: pointer;
}

#hero .botton:hover {
    color: #56CCF2;
    background-color: #0071AC;
}

/* the and hero.section */

/* star design section  */

.container {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.design-top h1 {
    color: #9de6ff;
    text-align: center;
    font-size: 8rem;
    animation: text_box 8s ease infinite;
}

.design-top p {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    font-size: 2rem;
}

.design-item h2 {
    margin-top: 2rem;
    text-align: center;
}

.design-bottom {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.firstLine {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.design-item {
    background-color: #c1edfc;
    padding: 1rem;
    width: 46%;
}

.design-item p {
    margin-top: 1rem;
    font-size: 1.5rem;
}

/* the and designe section */

/* star project section */

.container {
    /* image hero */
    width: 100%;
    height: 100vh;
    background-position: top center;
    background-size: cover;
}

.project-top {
    margin-top: 3rem;
}

.project-titel {
    font-size: 8rem;
    color: #9de6ff;
    text-align: center;
    animation: text_box 8s ease infinite;
}

.project-buttem {
    width: 90%;
    height: 60vh;
    display: flex;
    margin: 0 auto;
}

.cardone h1 {
    height: 10vh;
    text-align: center;
    background-color: #c1edfc;
    font-size: xx-large;
}

.cardone p {
    margin-bottom: 10PX;
    height: 22vh;
    background-color: #c1edfc;
    font-size: x-large;
    text-align: center;
}

.project-img img {
    width: 100%;
    height: 32vh;
}

/* star about me */

.container {
    width: 100%;
    height: 100vh;
    background-position: top center;
    background-size: cover;
}

.about-card {
    display: flex;
}

.image {
    height: 80vh;
    margin-top: 3rem;
}

.para {
    text-align: center;
    font-size: 3rem;
    margin-top: 7rem;
}

.para h1 {
    font-size: 8rem;
    margin-bottom: 3rem;
    color: #9de6ff;

}

/* the and section about me */

/* star the contact me */

.container {
    width: 100%;
    height: 100vh;
    background-position: top center;
    background-size: cover;
}

.form-titel {
    text-align: center;
    color: #9de6ff;
    font-size: 8rem;
    animation: text_box 8s ease infinite;

}

.form {
    display: flex;
    width: 85%;
    margin: 0 auto;
    margin-top: 1rem;
}

#form .forme {
    width: 100%;
    padding: 22px 20px;
}

.forme-message {
    width: 100%;
    padding: 40px 20px;
}

.forme-botten {
    width: 30%;
    padding: 22px;
    cursor: pointer;
    margin-left: 0.5rem;
}

.forme-botten:hover {
    background-color: #56CCF2;
}

#footer {
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
    margin-left: 5rem;
    width: 87%;
}

ol {
    display: flex;
    margin-top: 2rem;
}

ol li {
    padding: 10px;
    list-style: none;
}

ol li a {
    color: black;
    text-decoration: none;
}













/* star the media qy */

@media only screen and (max-width: 768px) {
    .design-bottom {
        flex-direction: column;
    }
    .firstLine {
        margin-bottom: 2rem;
    }
    .design-top h1 {
        font-size: 3rem;
    }
    .design-top p {
        margin-top: 0rem;
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .project-titel {
        margin-top: 1rem;
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .project-img img {
        width: 100%;
        height: 40vh;
    }
    .cardone p {
        height: 35vh;
        background-color: #c1edfc;
        font-size: x-large;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    ul li a {
        font-size: 17px;
    }
    ul li {
        padding-right: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .image {
        width: 388px;
        height: 90vh;
    }
    .para {
        width: 46%;
        font-size: 2.5rem;
        margin-top: 11rem;
    }
    .para h1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 375px) {
    .design-top h1 {
        font-size: 1rem;
    }
    .design-top p {
        width: 86%;
        font-size: 10px;
        text-align: center;
        margin: 0 auto;
    }
    .design-item h2 {
        text-align: center;
        margin-top: 0rem;
        font-size: 10px;
    }
    .design-item p {
        font-size: 10px;
        margin-top: 0rem;
        text-align: center;
    }
    .firstLine {
        flex-direction: column;
        margin-bottom: 1px;
    }
    .design-item {
        margin-bottom: 5px;
        width: 80%;
        margin-left: 2rem;
        height: 21vh;
    }
    .project-img img {
        height: 20px;
        width: 20px;
    }
}

@media only screen and (max-width: 375px) {
    .project-titel {
        font-size: 1rem;
        color: #9de6ff;
        text-align: center;
    }
    .cardone p {
        background-color: #c1edfc;
        text-align: center;
        font-size: 10px;
        height: 20vh;
    }
    .cardone h1 {
        font-size: 10px;
    }
    .project-buttem {
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
    .project-img img {
        width: 100%;
        height: 20vh;
    }
}

@media only screen and (max-width: 375px) {
    .about-card {
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .image {
        width: 197px;
        height: 405px;
        margin-left: 5rem;
    }
    .para h1 {
        font-size: 1rem;
        margin-bottom: 0rem;
    }
    .para {
        width: 80%;
        font-size: 10px;
        margin-top: 1rem;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    ol li {
        padding: 4px;
    }
}

@media only screen and (max-width: 375px) {
    .form {
        flex-direction: column;
    }
    #form .forme {
        padding: 10px 0px;
    }
    .forme-message {
        padding: 40px 40px;
    }
    .forme-botten {
        margin-left: 1px;
    }
    #footer {
        display: none;
    }
    .forme-botten {
        width: 50%;
    }
    .form-titel {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .form-titel {
        font-size: 3rem;
    }
    #footer {
        margin-top: 19rem;
    }
}

@media only screen and (max-width: 375px) {
    .logo {
        width: 60px;
        height: 4rem;
    }
    label {
        display: block;
        cursor: pointer;
        margin: 0PX 20px 0 0;
        font-size: 40px;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        border: 2px solid cornflowerblue;
        display: block;
    }
    #toggle:checked+.menu {
        display: block;
    }
    ul {
        display: flex;
        flex-direction: column;
    }
    ul li a {
        font-size: 23px;
        padding: 0px 66px;
    }
    #hero .container {
        display: none;
    }
}